
.bg-blue{
    background-color: #1C2B4F;
    
}
.text-blue{
    color: #1C2B4F;
}

.carousel-caption {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center; 
    padding: 10px; 
    border-radius: 5px; 
    left: 100%;
    margin: auto;
  }
  .carousel-inner {
    position: relative;
    width: 1200px;
    overflow: hidden; 
    height: 400px;
    margin-left: 50px;
  
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    color: white;
    background-color: black;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
  }
